@page "/portal/user"
@using CaptivePortal.Database
@using CaptivePortal.Database.Entities
@using CaptivePortal.Models
@using CaptivePortal.Services
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Microsoft.EntityFrameworkCore
@inject NavigationManager navigationManager
@inject RadiusDisconnectorService disconnector
@inject WebAuthenticationService webAuthService
@inject ProtectedLocalStorage protectedLocalStorage
@inject CaptivePortalDbContext db

<PageTitle>Captive Portal > Staff</PageTitle>

<CheckPermissions Level="PermissionLevel.User" Return="/portal">
    @if (device is not null && AuthenticateUser?.AccessToken is not null)
    {
        @if (authorizedUntil is null && registerFailure is null)
        {
            <h4 class="text-center">Hello @AuthenticateUser.AccessToken.Name</h4>
        
            @if (!nickNameSet && !nickNameCustom)
            {
                <h5 class="text-center">Select your device type</h5>
                <div class="d-flex justify-content-evenly">
                    <button class="btn btn-outline-info m-2" style="width: 120px; height: 120px;" @onclick="@(_ => {nickName = "Laptop"; nickNameSet = true;})">
                        <span class="mdi mdi-laptop mdi-48px"></span><br/>
                        <span>Laptop</span>
                    </button>
                    <button class="btn btn-outline-info m-2" style="width: 120px; height: 120px;" @onclick="@(_ => {nickName = "Desktop"; nickNameSet = true;})">
                        <span class="mdi mdi-monitor mdi-48px"></span><br />
                        <span>Desktop</span>
                    </button>
                </div>
                <div class="d-flex justify-content-evenly mb-4">
                    <button class="btn btn-outline-info m-2" style="width: 120px; height: 120px;" @onclick="@(_ => {nickName = "Phone"; nickNameSet = true;})">
                        <span class="mdi mdi-cellphone mdi-48px"></span><br />
                        <span>Phone</span>
                    </button>
                    <button class="btn btn-outline-info m-2" style="width: 120px; height: 120px;" @onclick="@(_ => {nickNameCustom = true;})">
                        <span class="mdi mdi-tag-text-outline mdi-48px"></span><br />
                        <span>Other</span>
                    </button>
                </div>
            }
            else if (!nickNameSet)
            {
                <label>Name This Device:</label>
                <form @onsubmit="_ => nickNameSet = true">
                    <input class="w-100 me-2 fs-4 mb-3" type="text" @bind="nickName" @ref="nickNameInputReference" />
                    <button class="d-block w-100 btn btn-primary btn-lg mb-3">Choose Name</button>
                </form>
            }
            else if (selectedNetworkGroup is null ||
                (!selectedNetworkGroup.IsPool && selectedNetwork is null))
            {
                <h5 class="text-center">Select your Network</h5>

                <label>Network Group</label>
                <select @onchange="SelectNetworkGroup">
                    @foreach(NetworkGroup networkGroup in networkGroups)
                    {
                        <option value="@networkGroup.Id">@networkGroup.Name</option>
                    }
                </select>

                @if (selectedNetworkGroup is not null && !selectedNetworkGroup.IsPool)
                {
                    <label>Network</label>
                    <select @onchange="SelectNetwork">
                        @foreach (Network network in selectedNetworkGroup.Networks)
                        {
                            <option value="@network.Id">@network.Name</option>
                        }
                    </select>
                }

            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    <h5>Heads Up!</h5>
                    <p>Registering your device will disconnect it from the Wifi network. Most devices will reconnect automatically.</p>
                    <p>If your device does not reconnect automatically, you will need to manually reconnect to the Wifi network!</p>
                </div>

                <h5>MAC Address:</h5>
                <div class="w-100 d-flex mb-3">
                    <input class="flex-grow-1 me-2 fs-4" type="text" value="@(device.DeviceMac?.ToUpper())" disabled />
                    <button class="btn btn-outline-info"><span class="mdi mdi-content-copy mdi-24px"></span></button>
                </div>

                <h5>Nickname:</h5>
                <div class="w-100 d-flex mb-3">
                    <input class="flex-grow-1 me-2 fs-4" type="text" value="@(nickName)" disabled />
                    <button class="btn btn-outline-info"><span class="mdi mdi-content-copy mdi-24px"></span></button>
                </div>

                <button class="btn btn-primary btn-lg mb-3" @onclick="async _ => await RegisterAsync()">Register this Device</button>
            }

            @if (nickName is not null || nickNameCustom)
            {
                <button class="btn btn-outline-info mb-3" @onclick="_ => {nickNameSet = false; nickNameCustom = false; nickName = null;}">Back To Select A Device Type</button>
            }

            <button class="btn btn-outline-warning" @onclick="DoLogout">Not You? Logout</button>
        }
        else
        {
            <h5 class="text-center">This device is authorized until <code>@authorizedUntil</code></h5>

            @if (registerFailure is not null)
            {
                <div class="alert alert-danger" role="alert">
                    @registerFailure
                </div>
            }
            else
            {
                <div class="alert alert-info" role="alert">
                    You may close this browser window. If your device did not automatically reconnect to the Wifi network, please do so now.
                </div>
            }
        }
    }
</CheckPermissions>

@code {
    [CascadingParameter]
    public AuthenticateUser? AuthenticateUser { get; set; }

    private Device? device;
    private List<NetworkGroup> networkGroups = new();
    private NetworkGroup? selectedNetworkGroup;
    private Network? selectedNetwork;

    private bool nickNameSet;
    private bool nickNameCustom;
    private string? nickName;
    private ElementReference nickNameInputReference;
    private bool hasFocusedNickNameInput;

    private DateTime? authorizedUntil;
    private string? registerFailure;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (nickNameCustom && !hasFocusedNickNameInput)
        {
            await nickNameInputReference.FocusAsync();
            hasFocusedNickNameInput = true;
        }

        if (!firstRender) return;

        var deviceResult = await protectedLocalStorage.GetAsync<Device>(nameof(device));
        device = deviceResult.Value;
        if (!deviceResult.Success || device is null)
        {
            navigationManager.NavigateTo("/portal");
            return;
        }

        await GetNetworkGroups();

        await InvokeAsync(StateHasChanged);
    }

    private async Task GetNetworkGroups()
    {
        if (AuthenticateUser?.AccessToken is null) return;

        networkGroups = await db.UserNetworkGroups
            .Where(x => x.UserId == AuthenticateUser.AccessToken.UserId)
            .Select(x => x.NetworkGroup)
            .Include(x => x.Networks)
            .ToListAsync();
    }

    private void SelectNetworkGroup(ChangeEventArgs e)
    {
        if (e.Value is null) return;
        selectedNetworkGroup = networkGroups
            .Where(x => x.Id == (int)e.Value)
            .FirstOrDefault();
    }

    private void SelectNetwork(ChangeEventArgs e)
    {
        if (e.Value is null || selectedNetworkGroup is null) return;
        selectedNetwork = selectedNetworkGroup.Networks
            .Where(x => x.Id == (int)e.Value)
            .FirstOrDefault();
    }

    private async Task RegisterAsync()
    {
        if (this.device is null) return;

        authorizedUntil = DateTime.UtcNow.AddDays(30);

        await db.Devices
            .Where(x => x.Id == this.device.Id)
            .ExecuteUpdateAsync(x => x
                .SetProperty(p => p.NickName, nickName)
                .SetProperty(p => p.Authorized, true)
                .SetProperty(p => p.AuthorizedUntil, authorizedUntil)
            );

        Device? reloadedDevice = await db.Devices
            .AsNoTracking()
            .Where(x => x.Id == this.device.Id)
            .FirstOrDefaultAsync();
        if (reloadedDevice is null ||
            !await disconnector.Disconnect(reloadedDevice))
        {
            registerFailure = "Could not automatically disconnect and reconnect your device! Please manually disconnect and reconnect to the Wifi Network!";
        }

        await protectedLocalStorage.DeleteAsync(nameof(device));
    }

    private void DoLogout()
    {
        navigationManager.NavigateTo("/logout?redirect=%2Fportal");
        return;
    }
}
